<log4net>
  <!--DO NOT TOUCH Subversion revision = $Rev:: 2144 $: -->

  <!--EventLogAppender-->
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <threshold value="FATAL" />
    <applicationName value="UWV.BRAVO.RAPTOR" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %type %method - %message%newline" />
    </layout>
    <mapping>
      <level value="FATAL" />
      <eventLogEntryType value="ERROR" />
    </mapping>
  </appender>

  <!--Case (Actions) logging-->
  <appender name="RollingLogFileAppender" type="CsvLogging.HeaderOnceAppender">
    <threshold value="Info" />
    <file type="log4net.Util.PatternString" >
      <converter>
        <name value="hostname" />
        <type value="UWV.BRAVO.RAPTOR.HostnamePatternConverter,UWV.BRAVO.RAPTOR" />
      </converter>
      <conversionPattern value="C:\Logfiles\%hostname{LocalApplicationData}.Bravo_khe_"/>
    </file>
    <datePattern value="dd.MM.yyyy.'csv'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="110" />
    <staticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="UWV.BRAVO.RAPTOR.CsvPatternLayout">
      <header value="Level;DateTime;SessionId;User;CaseId;Origen;Message&#13;&#10;" />
      <conversionPattern value= "%level%newfield%date{d/M/yyyy HH:mm:ss.fff}%newfield%sessionId%newfield%userId%newfield%caseId%newfield%type%method%newfield%message%endrow" />
    </layout>
  </appender>

  <!--Services logging-->
  <appender name="ServicesLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" >
      <converter>
        <name value="hostname" />
        <type value="UWV.BRAVO.RAPTOR.HostnamePatternConverter,UWV.BRAVO.RAPTOR" />
      </converter>
      <conversionPattern value="C:\Logfiles\%hostname{LocalApplicationData}.Bravo.PDC_khe_"/>
    </file>

    <datePattern value="dd.MM.yyyy.'csv'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="110" />
    <staticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="UWV.BRAVO.RAPTOR.CsvPatternLayout">
      <header value="Level;DateTime;SessionId;User;CaseId;Origen;Message&#13;&#10;" />
      <conversionPattern value= "%level%newfield%date{d/M/yyyy HH:mm:ss.fff}%newfield%sessionId%newfield%userId%newfield%caseId%newfield%type%method%newfield%message%endrow" />
    </layout>
    
  </appender>

  <!--Case (Actions) logging-->
  <appender name="EFLogFileAppender" type="log4net.Appender.RollingFileAppender">

    <file type="log4net.Util.PatternString" >
      <converter>
        <name value="hostname" />
        <type value="UWV.BRAVO.RAPTOR.HostnamePatternConverter,UWV.BRAVO.RAPTOR" />
      </converter>
      <conversionPattern value="C:\Logfiles\%hostname{LocalApplicationData}.Bravo.EF_khe_"/>
    </file>

    <datePattern value="dd.MM.yyyy.'csv'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="UWV.BRAVO.RAPTOR.CsvPatternLayout">
      <header value="Level;DateTime;SessionId;User;CaseId;Origen;Message&#13;&#10;" />
      <conversionPattern value= "%level%newfield%date{d/M/yyyy HH:mm:ss.fff}%newfield%sessionId%newfield%userId%newfield%caseId%newfield%type%method%newfield%message%endrow" />
    </layout>
  </appender>

  <root>
    <level value="Info" name="RollingLogFileAppender"/>
    <appender-ref ref="RollingLogFileAppender" />
    <appender-ref ref="EventLogAppender" />
  </root>

  <logger additivity="false" name="ServicesFileAppender">
    <level value="info"/>
    <!-- only ERROR level used at the moment -->
    <appender-ref ref="ServicesLogFileAppender" />
    <appender-ref ref="EventLogAppender" />
  </logger>

  <logger additivity="false" name="EFFileAppender">
    <level value="ALL"/>
    <!-- only ERROR level used at the moment -->
    <appender-ref ref="EFLogFileAppender" />
    <appender-ref ref="EventLogAppender" />
  </logger>

</log4net>
